
<div id="check" class="container">
    <br><br><br>
    <h1 style="text-shadow: 2px 2px 5px red;font-size: 80px; color: blue;font-weight: bold;">ZOHO ATTEN..</h1>
    <div style="padding-top: 100px;">
            User Name : <input type="text" name="employeeId" [(ngModel)]="employeeId"  required><br><br><br>
          
            Password : <input type="password" name="password" [(ngModel)]="password" required><br><br><br>
    </div>
      <button style="margin-left: 10px;" (click)=checkLogin() class="btn btn-success">
      Login
    </button>
    
  <!--  <button style="margin-left: 70px;" (click)=checkLogout() class="btn btn-success">
            Sign Up
          </button>-->
          
  </div>
  