<header>
  <nav style=" height: 120px;" class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div><img style="height: 90px;" src="https://developer.fieldnation.com/img/1645683-2000px-ZOHO.png"></div>

<p style="padding-top: 60px; padding-left: 0px; text-shadow: 2px 2px 5px red;
color:rgb(214, 194, 127);font-weight: bolder;font-size: 25px;"> BUILT IN INDIA, BUILT FOR THE WORLD!</p> 
  <ul class="navbar-nav">
   <!-- <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">View Employees</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addemployee" class="nav-link">Add New Employee</a></li>
    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
   -->

  </ul>

  </nav>

  </header> 
  
